/* Global */
html, body
{
	margin: 0px;
	background-color: #393939;
	color: white;
	font-family: Calibri, sans-serif;
	overflow-x: hidden;
}

body > div
{
	margin: 20px;
}

/* Header */
header
{
	height: 50px;
	background-color: #2A2A2A;
}

/* Unsorted */
.masonry
{
	column-gap: 10px;
	column-count: 1;
	transition: 0.45s background-color ease-in-out;

	min-height: 94px;
	background-color: #444;
	margin-bottom: 40px;
	padding: 10px;
}

@media only screen and (min-width: 1300px) 
{
	.masonry 
	{
		column-count: 3;
	}
}

@media only screen and (max-width: 1299px) and (min-width: 768px) 
{
	.masonry 
	{
		column-count: 2;
	}
}

/* Note */
div[class^="note"] 
{
	position: relative;
	font-size: 16px;
	margin-bottom: 10px;
	break-inside: avoid;
	color: black;
	background-color: #F2B866; /* #79A4D9; */
	padding: 20px;
	border-radius: 5px;
	font-weight: bold;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

div[class^="note"]:hover
{
	opacity: 0.40;
}

div[class^="note"]:not(.hidden):nth-child(2n)
{
	background-color: #FCE06A;
}

div[class^="note"]:not(.hidden):nth-child(3n + 1)
{
	background-color: #FFD466;
}

/* Sorted */
.sorted
{
	display: flex;
	flex-wrap: nowrap;
	transition: 1s width ease-in-out;
	gap: 4px;
	min-width: 1000px;
}

.day
{
	width: 100%;
	flex-grow: 1;
	background-color: #444;
	display: flex;
	flex-direction: column;
	break-inside: avoid;
	transition: 0.45s background-color ease-in;
	min-height: 139px;
}

.day > div[class^="note"] 
{
	font-size: 14px;
	padding: 10px; 
	margin-left: 2px;
	margin-right: 2px;

	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 200px;
	
	/* alternate design */
	flex: 1 1;
}

.day > div:not([class^="note"])
{
	margin-bottom: 10px;
	height: 78px;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	font-weight: bold;
	background-color: #333;
}

.day > div:not([class^="note"]) > div
{
	font-size: 14px;
}

/* ERROR PAGE */
.error
{
	max-width: 750px;
	background-color: #e74c3c;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}

.error_wrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Stylers */
.hidden
{
	display: none;
}

.highlight
{
	background-color: #39F !important;
}

.overflow
{
	overflow: hidden;
	overflow-x: auto;
}

.dragover
{
	background-color: #366593 !important;
}

.ui-draggable-dragging
{
	z-index: 1000;
	opacity: 1 !important;

	flex-grow: 1 1;
	font-size: 14px !important;
    padding: 10px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
	max-height: 200px !important;
	cursor: move !important;
}