/* Global */
html, body
{
	margin: 0px;
	background-color: #393939;
	color: white;
	font-family: Calibri, sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
}

body > #main
{
	position: relative;
	z-index: 10;
	margin: 20px;
}

/* Modify with overlay */
.overlay, #modify 
{
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	position: fixed;
	transition: 0.5s opacity ease-in-out;
}

.overlay
{
	background-color: #222;
}

.overlay-active
{
	z-index: 100;
	opacity: 0.8;
}

#modify 
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#modify.overlay-active
{
	z-index: 100;
	opacity: 1;
}

#modify.overlay-active form
{
	z-index: 120;
}

#modify form
{
	display: block;
	background-color: #FFC355;
	margin: 0;
	width: 100%;
	margin: 20px;
	max-width: 425px;
}

#modify textarea
{
	width: 100%;
	min-height: 100px;
	margin: 0 !important;
}

#modify form .modify-row
{
	display: flex;
}

.modify-row > input:first-child
{
	margin-left: 0 !important;
	flex-grow: 1;
}

/* Header */
header
{
	height: 50px;
	background-color: #2A2A2A;
	padding: 15px;
	box-sizing: content-box !important;
}

header::first-letter
{
	color:  #FFD466;
}

/* Unsorted */
.masonry
{
	position: relative;
	z-index: 10;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	transition: 0.45s background-color ease-in-out;

	min-height: 84px;
	background-color: #444;
	margin-bottom: 40px;
	padding: 10px;
}

.masonry > div:first-child
{
	display: none;
}

.masonry > .note
{
	width: 100%;
	font-size: 16px;
}

@media only screen and (min-width: 1300px) 
{
	.masonry > .note
	{
		width: 33%;
		width: calc(33.33% - 5px);		
	}
}

@media only screen and (max-width: 1299px) and (min-width: 768px) 
{
	.masonry > .note
	{
		width: 49.60%;
		width: calc(50% - 5px);
		font-size: 13px;
	}
}

/* Note */
div[class^="note"], #modify form
{
	position: relative;
	font-size: 16px;
	margin-bottom: 10px;
	break-inside: avoid;
	color: black;
	padding: 20px;
	border-radius: 5px;
	font-weight: bold;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

div[class^="note"]:hover
{
	opacity: 0.40;
}

div[class^="note"]:not(.hidden):nth-child(n)
{
	background-color: #F2B866;
}

div[class^="note"]:not(.hidden):nth-child(2n+3)
{
	background-color: #FCE06A;
}

div[class^="note"]:not(.hidden):nth-child(5n+4)
{
	background-color: #FFD466;
}

.col-sm-6 
{
	padding: 0;
}

/* Sorted */
.row
{
	padding: 15px;
}

.sorted
{
	display: flex;
	flex-wrap: nowrap;
	transition: 1s width ease-in-out;
	gap: 4px;
	min-width: 1000px;
}

.day
{
	width: 100%;
	flex-grow: 1;
	background-color: #444;
	display: flex;
	flex-direction: column;
	break-inside: avoid;
	transition: 0.45s background-color ease-in;
	min-height: 139px;
}

.day > div[class^="note"] 
{
	font-size: 14px;
	padding: 10px; 
	margin-left: 2px;
	margin-right: 2px;

	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 200px;
	
	/* alternate design */
	flex: 1 1;
}

.day > div:not([class^="note"])
{
	margin-bottom: 10px;
	height: 78px;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	font-weight: bold;
	background-color: #333;
}

.day > div:not([class^="note"]) > div
{
	font-size: 14px;
}

.row input, .modify-row input, textarea
{
	display: inline-block;
	background-color: #292929;
	color: white;
	border: 0px;
	padding: 5px;
	margin: 5px;
	min-width: 35px;
	transition: 0.45s background-color ease-in;
}

.row input:last-child, .modify-row input
{
	margin-right: 0;
}

/* ERROR PAGE */
.error
{
	max-width: 750px;
	background-color: #e74c3c;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}

.error_wrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0 !important;
	padding: 0 !important;
}

.error_wrapper > a 
{
	margin-top: 10px;
	text-decoration: none;
	color: white;
	padding: 15px;
	background-color: #222;
	transition: 0.45s background-color ease-in;
}

.error_wrapper > a:hover, .row input:hover, .modify-row input:hover:not(#delete)
{
	background-color: #39F;
}

#delete:hover
{
	background-color: #e74c3c;
}

#save
{
    background-color: #283350;
}

#save:hover
{
	
    filter: contrast(100%);
    font-size: 110%;
}

/* Stylers */
.hidden
{
	display: none;
}

.highlight
{
	background-color: #39F !important;
}

.overflow
{
	overflow: hidden;
	overflow-x: auto;
}

.dragover
{
	background-color: #366593 !important;
}

.ui-draggable-dragging
{
	z-index: 1000;
	opacity: 1 !important;

	flex-grow: 1 1;
	font-size: 14px !important;
    padding: 10px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
	max-height: 200px !important;
	cursor: move !important;
}

.align-right
{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
}

#prev-date, #next-date
{
	font-weight: bold;
}

@media only screen and (max-width: 575px)
{
	.col-sm-6
	{
		text-align: center;
	}
	.align-right
	{
		justify-content: center;
	}
}

/* Additional */
.font
{
	font-family: fontello !important;
}

input.hidden
{
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 0px;
	height: 0px;
}

::-webkit-calendar-picker-indicator 
{
	filter: invert(1);
	cursor: pointer;
}

/* From: https://bugs.jqueryui.com/ticket/14779 */
.ui-draggable-handle 
{ 
	-ms-touch-action: auto !important; 
	touch-action: auto !important; 
} 